<h1>Hello!</h1>

<p>
    My name is <a href="https://wstrother.github.io">Wyatt,</a> (aka AHP) and this is an app I made to assist people in playing "Pokemon Battleships" on Twitch. It allows you to create a game
    with various settings such as the number of Pokemon, whether the order should be randomized, and the board layout, and then simply by copy pasting
    and sending the link to a friend, you can connect to the same game and get live updates about what shots your opponent is firing and vice-versa.
</p>

<p>
    Version 1.0.1: updated 2023-02-08
</p>

<button mat-button (click)="gotoNewGame()">Get Started - Create a New Game</button>

<mat-tab-group animationDuration="75ms" dynamicHeight>

    <mat-tab label="What is Pokemon Battleships?">
        <app-battleships-info></app-battleships-info>
    </mat-tab>    
    
    <mat-tab label="Making a New Game">
        <app-new-game-info [asDialog]="false"></app-new-game-info>
    </mat-tab>

    <mat-tab label="Placing Your Ships">
        <app-place-ships-info [asDialog]="false"></app-place-ships-info>
    </mat-tab>


    <mat-tab label="Playing the Game">
        <app-play-game-info [asDialog]="false"></app-play-game-info>
    </mat-tab>

    <mat-tab label="Randomizing Your ROM">
        <app-randomize-info></app-randomize-info>
    </mat-tab>

</mat-tab-group>