button {
    background-color: rgb(202, 202, 202);
    color: rgba(0, 0, 0, 0.6);
}

:host {
    display: flex;
    flex-direction: column;
}

mat-tab-group {
    margin-top: 3rem;
    min-height: 800px;
}