<h1>Create a New Game!</h1>

<div class="new-game-form">
    <div class="form-option">
        <span class="form-option-label">Name:</span>
        <input type="text" [(ngModel)]="game.name" name="gameName" />
    </div>

    <div class="form-option">
        <span class="form-option-label">Board Width:</span>
        <input type="number" [(ngModel)]="game.boardWidth" name="boardWidth" value=10 />
    </div>
    
    <div class="form-option">
        <span class="form-option-label">Total Cells:</span>
        <input type="number" [(ngModel)]="game.totalCells" name="totalCells" value=100 />
    </div>

</div>

<div class="btn" (click)="makeGame()">Create!</div>
