<h1>Create a New Game</h1>

<div class="ship-form">

    <div class="ship-form-fields">
        <mat-form-field floatLabel="always">
            <mat-label>Game Name</mat-label>
            <input 
                matInput 
                type="text" 
                [(ngModel)]="game.name" 
                name="gameName" />
        </mat-form-field>
        
        
        <mat-form-field floatLabel="always">
            <mat-label>Number of Columns</mat-label>
            <input 
                (focusout)="validateFields()"
                matInput 
                type="text" 
                [(ngModel)]="game.boardWidth" 
                name="boardWidth" />
        </mat-form-field>
        
        <mat-form-field floatLabel="always">
            <mat-label>Total number of items</mat-label>
            <input 
                (focusout)="validateFields()"
                matInput type="text" 
                [(ngModel)]="game.totalCells" 
                name="totalCells" />
        </mat-form-field>
    </div>
    
    <button mat-button (click)="openDialog()">Create</button>

</div>
