:host {
    margin-bottom: 3rem;
}

.placement-form {
    display: flex;
    flex-direction: column;
}

.placement-panel {
    display: flex;
    justify-content: space-evenly;
}

button {
    margin: 1rem;
    background-color: rgb(202, 202, 202);
    color: rgba(0, 0, 0, 0.6);
}
