/* :host {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

.placement-form {
    display: flex;
    flex-direction: column;
}

.placement-panel {
    display: flex;
    justify-content: space-evenly;
}

/* .placement-panel>* {
    width: 50%;
} */

button {
    background-color: rgb(202, 202, 202);
    color: rgba(0, 0, 0, 0.6);
}
