
<div class="placement-panel">
    <app-ships-view
        [ships]="ships | async"
    ></app-ships-view>
    
    <app-board-view 
        (contextmenu)="$event.preventDefault()"
        [board]="board | async"
    ></app-board-view>
</div>

<div class="ui-panel">
    <div class="flash-message" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>

    <app-connection-status *ngIf="(status | async) as s"
        [status]="s"
    ></app-connection-status>

    <div class="btn" *ngIf="donePlacing" (click)="startGame()">
        Start Game!
    </div>
</div>