
<div class="placement-panel">
    <app-ships-view
        *ngIf="ships"
        [ships]="ships"
    ></app-ships-view>
    
    <app-board-view 
        *ngIf="board"
        (contextmenu)="$event.preventDefault()"
        [board]="board"
    ></app-board-view>
</div>

<div class="ui-panel">
    <div class="flash-message">
        {{ errorMessage }}
    </div>

    <div class="player-status">
        Connected as Player {{ status.playerNum }}
    </div>

    <div class="other-status">
        <span *ngIf="status.opponentConnected">Opponent has connected...</span>
        <span *ngIf="status.opponentReady">Opponent is ready to play</span>
    </div>
</div>