
.placement-form {
    display: flex;
    flex-direction: column;
}

.placement-panel {
    display: flex;
    justify-content: space-evenly;
}

button {
    margin: 1rem;
    background-color: rgb(202, 202, 202);
    color: rgba(0, 0, 0, 0.6);
}

.help-btn {
    margin-top: 2rem;
    background-color: white;
    position: fixed;
    color: rgb(202, 202, 202);
    bottom: 2rem;
    left: 2rem;
}