<h2>Placing Your Ships</h2>
    
<img src="../../../assets/place-ships-snapshot.png" matTooltip="How to Place Your Ships" />

<p>
    On the left you will see the 5 ships you have available to place. Simply click on one to select it and then click somewhere on the board to place it. You can
    also right-click to change the orientation from horizontal to vertical or vice-versa.
</p>

<p>
    To allow another player to connect to your game, simply copy this URL in your browser and send them the link. When they navigate to the page they will automatically
    be connected. Be careful though: your "user" ID is automatically set up based on the connection of a particular browser on a particular machine, so once a player is
    connected they won't be able to connect to the same game in another browser or on another machine.
</p>

<mat-dialog-actions *ngIf="asDialog" align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>