:host {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.header {
    padding-left: 2rem;
    background-color: rgb(202, 202, 202);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 75px;
}

.page {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 1rem;
    min-height: 75vh;
    max-width: 1020px;
}