<h1>Play Game</h1>

<div class="game-panel">
    <div class="boards-panel">
        <mat-tab-group animationDuration="0ms" dynamicHeight>

            <mat-tab label="Opponent's Ships">
                <app-board-view class="player-board"
                *ngIf="playerBoard"
                [board]="playerBoard"
                [placeable]="false"
                [fireable]="gameReady"
                [showShips]="false"
                (clearFilter)="clearFilter()"
                ></app-board-view>

                <div class="pending-panel" *ngIf="pendingMessage">
                    <span>
                        {{ pendingMessage }}
                    </span>

                    <span class="pending-time">
                        {{ pendingTime }}
                    </span>
                    
                    <span>
                        {{ cancelMessage }}
                    </span>
                </div>

                <div class="board-ui">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput type="text" [(ngModel)]="filter" (keyup)="setFilter($event)">
                        <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <span>Total: {{ totalShots }}</span>

                </div>
                  
            </mat-tab>
            
            <mat-tab label="Your Ships">

                <app-board-view class="other-board"
                *ngIf="otherBoard"
                [board]="otherBoard"
                [placeable]="false"
                [fireable]="false"
                ></app-board-view>
                
            </mat-tab>


        </mat-tab-group>
        

    </div>
</div>