:host {
    display: block;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 0;
}

.cell-inner {
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.selected {
    border: 2px solid gold;
}

.has-ghost-ok {
    background-color: lightblue;
}

.has-ghost-not {
    background-color: lightcoral;
}

.has-ship {
    background-color: blue;
}

.has-mark {
    background-color: gray;
}

.has-shot {
    background-color: black;
}

.has-hit {
    background-color: red;
}

.has-sink {
    background-color: purple;
}

