:host {
    display: block;
    box-sizing: border-box;
    padding: 0;
}

.cell-inner {
    display: block;
    margin: 0;
    box-sizing: border-box;
    background-origin: border-box;
    background-position: center center;
}

.shootable:hover {
    background-color: lightgray;
}

.selected {
    border: 2px solid gold;
}

.highlighted {
    background-color: lightgray;
}

.has-ghost-ok {
    background-color: lightblue;
}

.has-ghost-not {
    background-color: lightcoral;
}

.has-ship {
    background-color: blue;
}

.has-mark {
    background-color: gray;
}

.has-shot {
    background-color: black;
}

.has-hit {
    background-color: red;
}

.has-sink {
    background-color: purple;
}

.disabled {
    opacity: 0.1;
}
