<div class="cell-inner" 
    (click)="handleClick($event)"
    (contextmenu)="handleClick($event)"
    [ngClass]="{
        'has-ghost-ok': cell.ghost && cell.ghost.ok,
        'has-ghost-not': cell.ghost && !cell.ghost.ok,
        'shootable': fireable && !cell.disabled && !cell.shot && !cell.marked, 
        'has-ship': cell.hasShip && !hidden,
        'has-shot': cell.shot,
        'has-mark': cell.marked,
        'has-hit': cell.shot && cell.hasShip,
        'has-sink': cell.shipSunk,
        'selected': cell.selected,
        'disabled': cell.disabled
    }"
    [ngStyle]="{
        'width': getCellSize(),
        'height': getCellSize(),
        'background-image': getBgImage()
    }"
    [matTooltip]="getTooltip()"
    matTooltipShowDelay="750"
    >
    
</div>