<h2>What is Pokemon Battleships?</h2>
        
<p>
It's the fun new way to play Pokemon with a friend. Typically players will stream on Twitch and play a randomized ROM with the same seed and settings.
Using two Pokedex trackers with the same layout, each player marks off the position of their 5 ships, just like in regular Battleships, and when you
catch a Pokemon it counts as firing a shot. 
</p>

<p>
    Until I made this app, that would involve announcing each and every shot to your opponent and waiting for
    them to check their board to see if it's a hit. Obviously that can get distracting and be time consuming. With this new app I've made, each player only
    has to focus on firing shots for the Pokemon they've captured -- the app automatically tells you if your shots are a hit and if your opponent's fired a
    shot that hits one of your ships. 
</p>

