<div class="title mat-title animate__animated animate__fadeIn">
        {{ title }}
</div> 

<div class="error-panel animate__animated animate__pulse" *ngIf="errorMessage">
    <span class="animate__animated animate__fadeIn">
        {{ errorMessage }}
    </span>
</div>

<div class="status-panel" *ngIf="playerNum">
    <span class="animate__animated animate__fadeIn">
        Connected as Player {{ playerNum }}
    </span>

    <span 
        *ngIf="otherStage === 1"
        class="animate__animated animate__fadeIn">
        Waiting for opponent to connect...
    </span>

    <span 
        *ngIf="otherStage === 2"
        class="animate__animated animate__fadeIn special">
        Opponent is connected!
    </span>

    <span 
        *ngIf="otherStage === 3"
        class="animate__animated animate__fadeIn special">
        Opponent is ready to play!
    </span>
</div>
