<div class="title">
    <h3>
        {{ title }}
    </h3>
</div>

<div class="error-panel" *ngIf="errorMessage">
    {{ errorMessage }}
</div>

<div class="status-panel" *ngIf="(status$ | async) as status">
    <span>
        Connected as Player {{ status.playerNum }}.
    </span>

    <span *ngIf="!status.otherConnected">
        Waiting for opponent...
    </span>

    <span *ngIf="status.otherConnected && !status.otherReady">
        Opponent is connected!
    </span>

    <span *ngIf="status.otherReady">
        Opponent is ready to play!
    </span>
</div>
