<h2>Randomizing Your ROM</h2>
    
<p>
    This application is designed to work with Pokemon ROMs that have been randomized by <a href="https://pokehacks.dabomstew.com/randomizer/">Dabomstew's Universal
        Pokemon Randomizer.</a> It will make all Pokemon in the National Dex available in your ROM, including those that require trade evolutions. There are also additional
        settings that make Pokemon Battleships much more accessible such as altering encounter tables and increasing catch rates for various Pokemon. Refer to the instructions
        on the UPR website for more information.
</p>